# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Scala / SBT / Metals
target/
project/target/
project/project/
.scala-build/
.metals/
.bsp/
.bloop/
project/metals.sbt

# OS-spezifisch
.DS_Store
Thumbs.db
